# Application settings
DYNACONF_APP_SETTINGS__HOST=0.0.0.0
DYNACONF_APP_SETTINGS__PORT=8000
DYNACONF_APP_SETTINGS__USE_TESTCONTAINERS=False

# Database settings
DYNACONF_DB_SETTINGS__NAME=test_db
DYNACONF_DB_SETTINGS__USER=user
DYNACONF_DB_SETTINGS__PASSWORD=password
DYNACONF_DB_SETTINGS__HOST=postgres
DYNACONF_DB_SETTINGS__PORT=5432

# Scheduler settings (T2.1)
DYNACONF_SCHEDULER__POLL_INTERVAL_SECONDS=5
DYNACONF_SCHEDULER__DEFAULT_TIMEOUT_MS=5000